
.cours__column
    .cours__grid
        img.cours__grid-pic(src="/src/images/unsplash_-dtKoaHpi9M.jpg", alt="Kartinka")

        .cours__info

            p.title__of__cours-txt Агрономи

            p.cours__num 100 курсов

    .cours__grid
        img.cours__grid-pic(src="/src/images/unsplash_-dtKoaHpi9M.jpg", alt="Kartinka")

        .cours__info

            p.title__of__cours-txt Агрономи
            
            p.cours__num 100 курсов