footer.footer
    .wrapper
        .footer__wrapper
            .logo__frame
                img.footer__logo(src="/src/images/logo 1.svg", alt="Logo")

                img(src="/src/images/Frame 53.svg", alt="Logo")

            .text__frame
                p.text__frame-txt-1 ФГБОУ ВО «Кубанский государственный аграрный университет имени И. Т. Трубилина»
                
                p.text__frame-txt-2 Курс позволит вам научиться правильно держать иголку и подбирать красивый нитки к любой ткани Курс позволит вам научиться правильно держать иголку и подбирать красивый нитки

            .link__frame
                p.footer__num +7 (918) 969-74-84

                p.footer__num.second__num +7 (861) 221-54-91

                p.footer__item 350044, г. Краснодар, ул. Калинина, 13

                p.footer__item Turlij.s@kubsau.ru
        
        .footer__bot
            p.footer__bot-txt © 2020 ФГБОУ ВО «Кубанский государственный аграрный университет имени И. Т. Трубилина»