header.header
        .wrapper
            .header__wrapper
                .f-frame
                    img.header__logo(src="images/Kubsau.svg", alt="Logo")

                    button.frame__list Курсы
                        img.list-pic(src="/src/images/arrow.svg", alt="arrow")
                        ul.sublist
                                    li.sublist__item
                                        a(href="#") Тут курс
                                    li.sublist__item
                                        a(href="#") Тут курс
                                    li.sublist__item
                                        a(href="#") Тут курс
                                    li.sublist__item
                                        a(href="#") Тут курс
                                    li.sublist__item
                                        a(href="#") Тут курс

                    ul.frame__nav
                        li.nav__item 
                            a.item__link(href="#") О нас
                        li.nav__item
                            a.item__link(href="#") Преподаватели
                        li.nav__item  
                            a.item__link(href="#") Контакты
                .s-frame
                    a.nam__link(href="#") 8 (800) 555-35-35

                    button.search__btn 